<!-- start widget -->
<section class="widget">
	<span><h5>Advertisement</h5></span>
	<div class="advert">
		<!-- <a href="#"><img src="{{asset "/images/advert_300x300.jpg"}}"></a> -->
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- EvryPenneCounts_home -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:336px;height:280px"
			     data-ad-client="ca-pub-8807766526289453"
			     data-ad-slot="2479379613"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</section>
<!-- end widget -->
